/* Global */
html,
body {
  font-family: 'Poppins', sans-serif;
}
.col-3{
border-style: solid;
border-width: 1px;
border-color: rgb(255,200,53);
border-radius: 15px;
margin: 45px;
}


.btnLong{
 position: relative;
  weight: 100%;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  background: rgb(255,200,53);
  background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 22px;
  border-radius: 4vh;
  padding: 15px 35px;
  transition: all 0.2s;
}



/* Carousel*/


/*
.row div{
box-shadow: inset -80px -80px 50px 100px rgba(0,0,0,0.6);

}
*/

.movieCarousel .carousel-caption{
  text-align: center;
  color: white;

}
#movieCarousel .carousel-indicators{
  justify-content: center;
  transform: translateY(-10%) ;
  margin: -30px;
}
#movieCarousel .carousel-indicators li{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid white;
  background-clip: border-box;
  top: 50px;
  bottom: 30px;

}
#movieCarousel .carousel-indicators li.active{
  background: white;
}

.moreBtn{
position: absolute;
bottom:10%;
left:50%;
transform: translateX(-50%);
}

.carouselDetails{
position: absolute;
top:45%;
left:15%;
}

.carouselBtnPrev{
    position: absolute;
    top:50%;
    left:5%;
    transform: translateY(-50%);
    width: 53px;
    height: 53px;
    border: 1px solid #1f1f1f;
    border-radius: 50%;
    color: #1f1f1f;
    background: rgb(255,200,53);
    background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%);
    font-size: 28px;
}

.carouselBtnNext{
    position: absolute;
    top:50%;
    right:5%;
    transform: translateY(-50%);
    width: 53px;
    height: 53px;
    border: 1px solid #1f1f1f;
    border-radius: 50%;
    color: #1f1f1f;
    background: rgb(255,200,53);
    background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%);
    line-height: 53px;
    font-size: 28px;
}



.movieCarousel{
  position: relative;
  background-size: cover;

}
.movieCarousel .carousel_background{
  position: absolute;
  width: 100%;
  height: 100%;

}
.carousel-inner .carousel-item a{
  font-size: 28śpx;
  text-decoration: none;
  color: white;
  transition: all .2s;
}

.carousel-inner .carousel-item a:hover{
  color:#e29635;
}
.carousel-inner .carousel-item p{
  color: rgba(255, 255, 255, 0.4);
}


/* Movie List */
.movieList h1{
  margin-top:50px;
  font-size: 50px;
}
.movieList hr{
  text-align: center;
  width: 250px;
  border-bottom: 2px solid white;
  border-top: 0;
}
.btn--background{
  margin: 30px 20px;
  font-size: 50px;
}
.btn--background .btn--hover:hover{
  background-color: #d81a24;
  border: 1px solid #d81a24;
}

.movielist-item img{
  width: 100%;
opacity: 0.4;
  display: block;
  border-radius: 11px;
object-fit: fill;

}
.movielist-item h4{
  color: black;
  transition: all .2s;
  margin: 0;
}
.movielist-item h4:hover{
  color:#d81a24;
}
.movielist-item p{
  font-size: 18px;
  color: #aeaeae;
  margin: 0;
}
.movielist-item i{
  color: #f9be30;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.movielist-item a.title{
  text-decoration: none;
  color: white;
  font-size: 18px;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

.movielist-item a{
  position: relative;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  padding: 15px 35px;
  margin: 30px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4vh;
  transition: all 0.27s;
  background: rgb(255,200,53);
  background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%);
}

.movielist-item a:hover{
  text-decoration: none;
  color: white;
  font-size: 20px;
}


.details{
position: absolute;
top:27%;
left:5%;
width: 90%;
height: 100%;
}

/* Comming Soon */
.comingSoon_content hr{
  text-align: center;
  position: relative;
  width: 250px;
  border-bottom: 2px solid white;
  border-top: 0;
  margin: 30px 50px;
  left: 380px;
}
.comingSoon{
  position: relative;
  background-color:#1f1f1f;
  background-size: cover;
  padding: 20px 0;
  margin-top: 80px;
  color: white;
}
.comingSoon .container h2{
  text-align: center;
  font-size: 50px;
  margin: 20px 0;
  position: relative;

}
a {
background-color: transparent;
}


.comingSoon_content .btn-custom a{
  position: relative;
  border: 1px solid white;
  color: white;
  padding: 15px 100px;
  margin: 30px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4vh;
  transition: all 0.27s;
  left: 450px;
  background-color: transparent;
}
.btn-custom a:hover{
  background-color:#3f3f3f;
  color:white;
}
.comingSoon .overlay_black{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.coming_trailer{
  position: relative;
}
.coming_trailer img{
  height: 100%;
  width: 100%;
  display: block;
}
.coming_trailer i{
  width: 60px;
  height: 60px;
  display: block;
  border: 2px solid white ;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 57px;
  transition: all 0.2s;
  position: relative;
  top: 230px;
  left: 50%;
  transform: translate(-50%,-50%);
}
.coming_trailer i:hover{
  border: 2px solid red;
  background-color: red;

}
/* newsletter */
.newsletter_content hr{
  text-align: center;
  width: 150px;
  border-bottom: 2px solid white;
  border-top: 0;
  position: relative;

}
.newsletter_content h5{
  position: relative;
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300px;
}
.newsletter{
  position: relative;
  background-image: url('../img/di-nhan-8-phuong-hoang-bong-toi-x-men-dark-phoenix-2019-slider.jpg');
  background-size: cover;
  padding: 20px 0;
  margin-top: 80px;
  color: white;
}
.newsletter .overlay_black{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.newsletter_content h2{
  text-align: center;
  font-size: 50px;
  margin-top: 60px;
  position: relative;

}
.newsletter_footer{
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;


}
.newsletter_footer .input{
  margin: 8px;
  position: relative;
  height: 55px;
  border-radius: 0.25rem;
  width: 280px;
  padding: 12px 20px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(246, 246, 246, 0.3);
  text-align: center;

}

.newsletter_footer a {

  position: relative;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  background: rgb(255,200,53);
  background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%);
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  border-radius: 4vh;
  padding: 15px 35px;
  transition: all 0.2s;
}
.newsletter_footer a:hover{
  color: red;
  background-color: rgb(246, 246, 246,0.1);
}

/* TESTIMONIAL */
.testimonial{
  margin-top: 90px;
  text-align: center;
}
.testimonial h1{
  text-align: center;
  letter-spacing: 0.12em;
  font-size: 50px;
  font-weight: 300px;
  left: 500px;
}
.testimonial hr{

  width: 250px;
  border-bottom: 2px solid #b7b7b7;
  border-top: 0;
  left: 300px;
}
.testimonial .carousel-item img {
  margin-top: 80px;
  border-radius: 50%;
  display: inline-block;
}
.testimonial .carousel-item h3{
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-style: bold;
}
.testimonial .carousel-item p{
  text-align: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 80px;
}
#testimonialCarousel .carousel-indicators li{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #bbb;
  background-color: transparent;

}
#testimonialCarousel .carousel-indicators li.active{
  background: #bbb;

}

carousel-inner .searchMovie{
width: 100vw;
height: 50vh;
background-color: red;

}

.sigin {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
  margin-bottom: 0;
  letter-spacing: 0.12em;
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}