{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% load static %}


{% block title %}
    Sign Up | Movie Center
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
{% endblock cssblock %}



{% block content %}


<section class="relative">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="separator">Aktualizacja</h1>
            <span class="font-weight-bold">Zaktualizuj swój profil</span>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb" class="bg-light section-xl" style="background: #1f1f1f !important">
    <ol class="breadcrumb" style="background: #1f1f1f !important">
      <li class="breadcrumb-item"><a class="mau" href="#">Start</a></li>
      <li class="breadcrumb-item"><a class="mau" href="#">{{ user.username }}</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a class="mau" href="#">Aktualizacja ustawień</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-7 mb-9">
    <div class="col-sm-9 col-md-4 col-lg-4 mx-auto">
        <div class="card card-signin my-1">
            <div class="card-body"><center>
                {% if user.photo %}
                <img class="card-img-top" src="{{ user.photo.url }}" alt="image" style="width:150px", height="200px">
                {% else %}
                <img class="card-img-top" src="{% static 'img/no-avatar.png' %}" alt="image" style="width:150px", height="200px">
                {% endif %}</div></center>
            <div class="card-body">
                <h4 class="card-title">{{ user.username }}</h4>
                <a href="{% url 'password_change' %}" class="btn btn-info" style="border-radius: 10px; background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; width: 100% !important; padding: 15px 0;">Zmiana hasła!</a>
            </div>
        </div></div></div>

        <form novalidate method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {% render_field form.first_name|as_crispy_field %}
              </div>
            <div class="form-group">
                {% render_field form.last_name|as_crispy_field %}
              </div>
              <div class="form-group" >
                {% render_field form.email|as_crispy_field %}
              </div>
             <div class="form-group">
                {% render_field form.address|as_crispy_field %}
              </div>
              <div class="form-group">
                {% render_field form.phone_number|as_crispy_field %}
              </div>
              <div class="form-group">
                {% render_field form.photo|as_crispy_field %}
              </div>
              {% render_field form.captcha|as_crispy_field %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a href="{% url 'core:home' %}" class="btn btn-md text-uppercase" style="border-radius: 10px; background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; width: 100% !important; padding: 15px 0;"> Powrót</a>
            <button class="btn btn-md text-uppercase" type="submit" style="border-radius: 10px; background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; width: 100% !important; padding: 15px 0; margin-top: 2px;">Zapisz</button>
        </form>
            </div>
{% endblock content %}
