{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Wykup dostęp | eKINO
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}"/>
{% endblock cssblock %} {% block content %}


<!--    <section class="section1 relative text-center">-->
<!--        <div class="jumbotron text-center">-->
<!--            <h1 class="separator">Sklep</h1>-->
<!--            <span class="font-weight-bold">Płatność</span>-->
<!--        </div>-->
<!--    </section>-->
<!--<section class="section2">-->
<!--<nav aria-label="breadcrumb" class="bg-light section-xl" style="background: #1f1f1f !important">-->
<!--        <ol class="breadcrumb" style="background: #1f1f1f !important">-->
<!--            <li class="breadcrumb-item"><a class="mau" href="#">Start</a></li>-->
<!--            <li class="breadcrumb-item"><a class="mau" href="#">Płatność</a></li>-->
<!--             </ol>-->
<!--        </nav>-->
<!--    </section>-->

    <div class="container">
        <br>
        <h3><strong>Twoje zamówienie</strong></h3>
        <br>
        <table class="table table-hover text-left">
            <thead class="bg-danger">
            <tr class="bg-accent" style="background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; color: #1f1f1f !important;">
                <th class="text-light">Filmy</th>
                <th></th>
                <th></th>
                <th class="text-light">Cena</th>
            </tr>
            </thead>
            {% for cart_movie in cart.movies.all %}
                <tr>
                    <td class="text-dark">
                        <a href="{% url 'movie:movie-detail' cart_movie.movie.slug %}" class="text-body"  style="color: #e2e2e2 !important;">
                            {{ cart_movie.movie.title }}
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td class="text-body" td style="color: #e2e2e2 !important;">
                        {{ cart_movie.movie.price }} PLN
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td  style="color: #e2e2e2 !important;"><strong>Razem</strong></td>
                <td></td>
                <td></td>
                <td  style="color: #e2e2e2 !important;"><strong>{{ cart.get_total }} PLN</strong></td>
            </tr>
            <tr></tr>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body" style="background-color: #1f1f1f;">
                    <form class="rd-mailform text-left" method="post" action="{% url 'checkout:payment' %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="text-center">
                            <button class="btn btn-lg btn-block" type="submit" style="border-radius: 10px; background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; width: 100% !important; padding: 15px 0;">Zapłać!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

