{% extends 'base.html' %}

{% load static %}

{% block title %}
    Twój koszyk | eKINO
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock cssblock %}

{% block content %}
    <section class="relative text-center">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="separator">Wybierz swoje filmy</h1>
                <span class="font-weight-bold">Koszyk</span>
            </div>
        </div>
    </section>

    <body>
    <nav aria-label="breadcrumb" class="bg-light section-xl" style="background: #1f1f1f !important">
        <ol class="breadcrumb" style="background: #1f1f1f !important">
            <li class="breadcrumb-item"><a class="mau" href="#">Start</a></li>
            <li class="breadcrumb-item"><a class="mau" href="#">Sklep</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a class="mau" href="#">Koszyk zakupowy</a>
            </li>
        </ol>
    </nav>
    <div class="page text-center animated" style="animation-duration: 500ms;">
        <main class="page-content">
            <section class="section section-inset-1">
                <div class="container">
                    <div class="row row-45 justify-content-end">
                        <div class="col-12 section-inset-1">
                            <div class="table-responsive">
                                <table class="table table-hover text-left">
                                    <thead>
                                    <tr class="bg-accent" style="background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; color: #1f1f1f !important;">
                                    <th></th>
                                    <th>Produkty</th>
                                    <th>Ceny</th>
                                        </tr>
                                    </thead>

                                    {% for cart_movie in cart.movies.all %}
                                        <tr>
                                            <td style="color: #e2e2e2 !important;">
                                                <a href="{% url 'cart:remove-from-cart' cart_movie.movie.slug %}"><span
                                                        class="icon icon-xs fa-trash icon-gray"></span></a>
                                            </td>
                                            <td style="color: #e2e2e2 !important;">
                                                <a href="{% url 'movie:movie-detail' cart_movie.movie.slug %}" class="text-dark" style="color: #e2e2e2 !important;">
                                                    {{ cart_movie.movie.title }}
                                                </a>
                                            </td>
                                            <td style="color: #e2e2e2 !important;">{{ cart_movie.movie.price }}$</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td style="color: #e2e2e2 !important;">Koszyk jest pusty</td>
                                        </tr>
                                    {% endfor %}
{% if cart.get_total %}
                                        </tbody>
                                        </table>
                                        </div>
                                        <div class="card-footer">
                                            <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                                                <div class="row">
                                                    <div class="pull-right" style="margin: 10px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-12 col-md-7 col-md-offset-5 col-xl-4 col-xl-offset-8">
                                        <div class="table-responsive">
                                        <table class="table table-hover text-left">
                                        <thead>
                                        <tr class="bg-accent" style="background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; color: #1f1f1f !important;">
                                            <th>Podsumowanie</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-gray" style="color: #e2e2e2 !important;">Total</td>
                                            <td class="fw-b" style="color: #e2e2e2 !important;">{{ cart.get_total }}$</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                    </table>
                                    </div>
                                    {% if cart.get_total %}
                                        <a class="btn btn-sm btn-min-width-lg offset-custom-5"
                                           href="{% url 'checkout:checkout' %}" style="border-radius: 10px; background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; width: 100% !important; padding: 15px 0;">Przejdź do płatności</a>
                                    {% else %}
                                        <a class="btn btn-sm btn-min-width-lg offset-custom-5"
                                           href="/movie/all/" style="border-radius: 10px; background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; width: 40% !important; padding: 15px 0;">Continue Shopping</a>
                                    {% endif %}
                                    </td>
                                    </div>
                    </div>
                </div>
            </section>
        </main>

    </div>

{% endblock content %}

