
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %}
  Reset hasła | eKINO
{%endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/account/signup.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
{% endblock cssblock %}

{% block content %}
<section class="relative">
  <div class="container">
      <div class="jumbotron text-center">
          <h1 class="separator">Aktualizacja</h1>
          <span class="font-weight-bold">Zresetuj hasło</span>
      </div>
  </div>
</section>

<nav aria-label="breadcrumb" class="bg-light section-xl" style="background: #1f1f1f !important">
  <ol class="breadcrumb" style="background: #1f1f1f !important">
      <li class="breadcrumb-item"><a class="mau" href="#">Start</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a class="mau" href="#">Reset hasła<</a></li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
          <div class="card-body">
            <p>
              <h1 style="color: #1f1f1f;">Sprawdź swoją skrzynkę</h1>
              <p style="color: #1f1f1f;">
                Wysłaliśmy do Ciebie link do zmiany hasła.
              </p>
            </p>
            <a class="btn btn-danger" href="{% url 'core:home' %}" style="border-radius: 10px; background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; width: 100% !important; padding: 15px 0;">Powrót do strony głównej</a>
          </p>
            </p>
          </div>
      </div>
  </div>
</div>
{% endblock %}
