<!DOCTYPE html>
<html>
<head>
  <title> 404 </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">

</head>

<body>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-8 col-md-offset-1">
      <div class="text-divider text-center">
        <h2>404</h2>
      </div>
        <h1 > Strona nie znaleziona :( </h1>
        <p>Strona nie została znaleziona, sprawdź czy wszystko jest ok</p>
          <div class="button-wrap text-center">
            <a href = "/" class="btn btn-success btn-sm btn-min-width-lg" style="color: rgba(226,150,53) !important;">Powrót do strony głównej</a>
          </div>
    </div>
  </div>
</div>
</body>
</html>
