{% extends 'base.html' %}

{% load static %}

{% block title %}
    Skontaktuj się | eKINO
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock cssblock %}


{% block content %}

    <section class="relative">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="separator">Bądź w kontakcie</h1>
                <span class="font-weight-bold">Informacje kontaktowe</span>
            </div>
        </div>
    </section>

    <nav aria-label="breadcrumb" class="bg-light section-xl" style="background: #1f1f1f !important">
        <ol class="breadcrumb" style="background: #1f1f1f !important">
            <li class="breadcrumb-item"><a class="mau" href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a class="mau" href="#">Kontakt</a></li>
        </ol>
    </nav>

    <div class="row justify-content-center">
        <div class="col-12 col-xl-8 ">
            <section class="part section section-inset-1">
                <div class="container">
                    <h2 class="sigin">Skontaktuj się</h2>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                            <form class="rd-mailform text-left" data-form-output="form-output-global"
                                  data-form-type="forms"
                                  method="post" action="bat/rd-mailform.php" novalidate="novalidate">
                                <div class="row row-10">
                                    <div class="col-12 col-md-6">
                                        <div class="form-wrap">
                                            <input class="form-input form-control-has-validation form-control-last-child"
                                                   placeholder="Your first name..." id="forms-name" type="text"
                                                   name="name"
                                                   data-constraints="@Required"><span class="form-validation"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-wrap">

                                            <input class="form-input form-control-has-validation form-control-last-child"
                                                   placeholder="Your last name..." id="forms-last-name" type="text"
                                                   name="last-name"
                                                   data-constraints="@Required"><span class="form-validation"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-wrap has-error">

                                            <input class="form-input form-control-has-validation form-control-last-child"
                                                   placeholder="Your e-mail..." id="forms-email" type="email"
                                                   name="email"
                                                   data-constraints="@Email @Required">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-wrap has-error">

                                            <input class="form-input form-control-has-validation form-control-last-child"
                                                   placeholder="Your phone..." id="forms-phone" type="text" name="phone"
                                                   data-constraints="@PhoneNumber @Required">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12">
                                        <div class="form-wrap has-error">

                        <textarea class="form-input form-control-has-validation form-control-last-child"
                                  placeholder="Message..." id="forms-message" name="message"
                                  data-constraints="@Required"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-lg" style="border-radius: 10px; background: rgb(255,200,53) !important; background: linear-gradient(135deg, rgba(255,200,53,1) 0%, rgba(226,150,53,1) 100%) !important; width: 100% !important; padding: 15px 0;">Wyślij wiadomość</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
            </section>
            <section class="section section-inset-3">
                <div class="container">
                    <div class="row row-45 justify-content-xl-around text-md-left">
                        <div class="col-12 col-md-6 col-xl-3">
                            <address>
                                <div class="media flex-column flex-md-row">
                                    <div class="media-left"><span
                                            class="icon icon-success icon-sm fa-map-marker" style="color: rgba(255,200,53) !important;"></span>
                                    </div>
                                    <div class="media-body">
                                        <p class="h6" style="color: #737373;">Adres</p><span><a href="#" style="color: #ededed;">
                            Miła 111/111b,
                            Warszawa, 00-000</a></span>
                                    </div>
                                </div>
                            </address>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <address>
                                <div class="media flex-column flex-md-row">
                                    <div class="media-left"><span class="icon icon-success icon-sm fa-phone" style="color: rgba(255,200,53) !important;"></span>
                                    </div>
                                    <div class="media-body">
                                        <p class="h6" style="color: #737373;">Telefon</p>
                                        <dl class="dl-horizontal">
                                            <dd><a href="tel:#" style="color: #ededed;">+48555888999</a></dd>
                                        </dl>

                                    </div>
                                </div>
                            </address>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <address>
                                <div class="media flex-column flex-md-row">
                                    <div class="media-left"><span class="icon icon-success icon-sm fa-envelope" style="color: rgba(255,200,53) !important;"></span>
                                    </div>
                                    <div class="media-body">
                                        <p class="h6" style="color: #737373;">E-mail</p><a href="mailto:#" style="color: #ededed;">mail@demolink.org</a>
                                    </div>
                                </div>
                            </address>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
